.filter-button {
    padding: 0.8125rem 1.5rem;
    color: white;
    min-height: 46px;
    line-height: 1.25rem;
    font-family: DinotBold, DinotRegular, Open Sans, -apple-system, BlinkMacSystemFont, Segoe UI,
        Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji,
        Segoe UI Symbol, Noto Color Emoji;
    font-size: 0.9rem;
    background-color: white;
    border-left: none;
    border-right: none;
    border-top: none;
}
